@import url("../src/colors.css");

.Button {
  text-align: center;
  transition: all .15s ease-out;
  cursor: pointer;
  outline: none;
  border: none;
}


.Button.light.primary.false {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: var(--light-blue);
  color: var(--white);
}

.Button.light.primary.false:hover {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: var(--dark-blue);
  color: var(--white);
}

.Button.light.primary.false:focus {
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 0 0 4px rgba(24, 122, 186, 0.4);
  outline: none;
  border: none;
  background-color: var(--dark-blue);
  color: var(--white);
}

.Button.light.primary.true {
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 0 0 4px var(--gray-5);
  background-color: var(--white);
  color: var(--gray-2);
  cursor: none;
}

.Button.light.secondary.false {
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 0 0 1px var(--light-blue);
  background-color: var(--white);
  color: var(--light-blue);
}

.Button.light.secondary.false:hover {
  height: 48px;
  border-radius: 24px;
  background-color: var(--medium-blue);  
  color: var(--white);
}

.Button.light.secondary.false:focus {
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 0 0 4px rgba(24, 122, 186, 0.4);
  background-color: var(--medium-blue);
  outline: none;
  color: var(--white)	
}

.Button.light.secondary.true {
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 0 0 4px var(--gray-5);
  background-color: var(--white);
  color: var(--gray-2);
  cursor: none;
}

.Button.light.transparent.false {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: transparent;
  color: var(--light-blue);
}

.Button.light.transparent.false:hover {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: transparent;  
  color: var(--dark-blue);
}

.Button.light.transparent.false:focus {
  height: 48px;
  border-radius: 24px;
  border: none;
  box-shadow: 0 0 0 4px rgba(24, 122, 186, 0.4);
  outline: none;
  background-color: transparent;  
  color: var(--dark-blue);
}

.Button.light.transparent.true {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: transparent;
  color: transparent;
}


.Button.dark.primary.false {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: var(--white);
  color: var(--light-blue);
}

.Button.dark.primary.false:hover {
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 0 0 1px var(--dark-navy-blue);
  background-color: var(--pale-blue);
  color: var(--dark-blue);
}

.Button.dark.primary.false:focus {
  height: 48px;
  border-radius: 24px;
  background-color: var(--pale-blue);
  color: var(--dark-blue);
  box-shadow: 0 0 0 1px var(--dark-navy-blue), 0 0 0 4px var(--white);
  outline: none;
  color: var(--dark-blue);
}

.Button.dark.primary.true {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: transparent;;
  color: transparent;
}

.Button.dark.secondary.false {
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 0 0  1px var(--white);
  background-color: var(--light-blue);
  color: var(--white);
}

.Button.dark.secondary.false:hover {
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 0 0 1px var(--white);
  background-color: var(--medium-blue);  
  color: var(--white);
}

.Button.dark.secondary.false:focus {
  height: 48px;
  border-radius: 24px;
  background-color: var(--medium-blue);
  box-shadow: 0 0 0 1px var(--dark-navy-blue), 0 0 0 4px var(--white);
  outline: none;
  color: var(--white)	
}

.Button.dark.secondary.true {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: transparent;
  color: transparent;
}

.Button.dark.transparent.false {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: transparent;
  color: var(--white);
  text-decoration: underline;
}

.Button.dark.transparent.false:hover {
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 0 0 1px var(--white);
  background-color: transparent;
  color: var(--white);
  text-decoration: underline;
}

.Button.dark.transparent.false:focus {
  height: 48px;
  border-radius: 24px;
  border: none;
  box-shadow: 0 0 0 4px var(--white);
  background-color: transparent;
  outline: none;
  color: var(--white);
  text-decoration: underline;
}

.Button.dark.transparent.true {
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: transparent;
  color: transparent;
}

.label {
  font-family: Karla-Bold;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

.box.light {
	width: 207.8px;
	height: 70px;
	background-color: transparent;
	display: flex;
    align-items: center;
    justify-content: center;
}

.box.dark {
	width: 207.8px;
	height: 70px;
	background-color: var(--light-blue);
	display: flex;
    align-items: center;
    justify-content: center;
}


.Button.light.primary,.Button.light.secondary,.Button.light.transparent,.Button.dark.primary,.Button.dark.secondary,.Button.dark.transparent{
  text-align: center;
}

